public/imglib/*
public/swf/*
public/ZMSFlex
data/*
.buildpath
crm
.idea/
ZMSServer.iml
library/*
${IJ_BASE_PACKAGE}/configs/${IJ_BASE_PACKAGE}.ini
${IJ_BASE_PACKAGE}/tmp/**
tests/build/**
/.buildpath
/.project
/.settings/.jsdtscope
/.settings/com.zend.php.formatter.core.prefs
/.settings/com.zend.php.formatter.ui.prefs
/.settings/org.eclipse.php.core.prefs
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
nbproject/
atlassian-ide-plugin.xml
/vendor
